dj_database_url==0.5.0
Django==4.0
django-cors-headers==3.10.0
django-environ==0.4.5
django-heroku==0.3.1
djangorestframework==3.13.1
googletrans==3.1.0a0
img2pdf==0.4.3
numpy==1.21.5
opencv_python==4.5.4.60
Pillow==9.0.0
Pyrebase==3.0.27
pytesseract==0.3.8
python-dotenv==0.19.2
gunicorn==20.1.0
whitenoise==5.3.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
